{
  "env": {
    "production": {
      "plugins": ["syntax-dynamic-import", ["emotion", { "hoist": true }]]
    },
    "development": {
      "plugins": [
        [
          "emotion", 
          "syntax-dynamic-import",
          "react-hot-loader/babel", 
          { "sourceMap": true, "autoLabel": true }
        ]
      ]
    }
  },
  "presets": ["env", "react", "stage-0"]
}